@font-face {
    font-family: 'Cantarell-Regular';
    src: url('../fonts/Cantarell-Regular.ttf');

}

@font-face {
  font-family: 'Bebas-Regular';
  src: url('../fonts/BebasNeue-Regular.otf');
}

@font-face {
  font-family: 'Bebas-Bold';
  src: url('../fonts/BebasNeue-Bold.otf');
}

@font-face {
    font-family: 'Cantarell-Bold';
    src: url('../fonts/Cantarell-Bold.ttf');

}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.otf');

}
@font-face {
    font-family: 'PT-Regular';
    src: url('../fonts/PTC55F.ttf');

}

@font-face {
    font-family: 'Agency';
    src: url('../fonts/Agency.ttf');

}

*{
    padding: 0px;
    margin: 0px;
    font-family: Cantarell-Regular;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    box-sizing:border-box ;
}

p{
    margin: 10px;
    text-align: justify;
}

body{
    background: #F9F9ED;
}

.menu_bar{
    display: none;
}
header{
    width: 100%;
}
.movil{
    display: none;
}
.navbar-ext{
    /*background: #1F4F59;*/
    background-image: url(../img/banner3.png) !important;
    background-size: cover;
    z-index: 1000;
    /*max-width: 1700px;*/
    width: 100%;
    top: auto;
}

.navbar-flat{
    background: #1F4F59 !important;
    z-index: 1000;
    /*max-width: 1700px;*/
    width: 100%;
    position: fixed;
    top:0 !important;
}

#banner-container{
    background-image: url('../img/banner3.png');
    background-size: cover !important;
    background-attachment: fixed !important;

}

header nav ul{
    list-style: none;
    margin: 0;
}
header nav ul li{
    display: inline-block;
    position: relative;
    transition: all 500ms ease;
}
header nav ul li:hover{
    background: #52a7b1;
}

header nav ul li a{
    color:#F9F9ED;
    display: block;
    padding: 20px;
    text-decoration: none;
}
header nav ul li a:hover{
    color:#F9F9ED;
    display: block;
    padding: 20px;
    text-decoration: none;
}

header nav ul li:hover .children{
    display: block;
}
header nav ul li .children{
    display: none;
    background: #011826;
    position: absolute;
    width: 170%;
    z-index: 1000;
}
header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a{
    display: block;
}

i{
    margin-right: 10px;
}
.subitem{
    margin-left: 10px;
    margin-right: 0px;
    float: right;
    position: relative;
    top: 3px;
}
#toggle_menu{
    margin-top: 4px;
    margin-right: 20px;
    float: left;
}

section{
  z-index: 0;
  top:125px;
  margin: 15px 0px;
  height: 100%;
}

@media screen and (max-width:990px){
    body{
        padding-top: 64px;
    }
    #Box1{
      height: calc(100vh - 64px) !important;
    }
    .menu_bar{
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        /*background: #1F4F59;*/
        background-image: url(../img/banner3.png);
        z-index: 100;
    }
    #banner-title{
        display: none;
    }
    .menu_bar .bt-menu{
        min-width: 320px;
        display: block;
        padding: 16px;
        color:#FEFEFE;
        overflow: hidden;
        font-size: 21.5px;
        font-weight: bold;
        text-decoration: none;
    }
    .navbar-ext, .navbar-flat{
        display: none;
    }
    .movil{
        display: block;
        background-image: url(../img/banner3.png);
        width:70%;
        height: calc(100% - 67px);
        position: fixed;
        top: 64px;
        right: 100%;
        margin: 0px;
        overflow:scroll;
    }

    header nav{
      min-width: 160px;
      z-index: 101;
    }

    header nav ul li{
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }
    header nav ul li a{
        display: block;
    }

    header nav ul li .children{
        width: 100%;
        widows: 100%;
        position: relative;
        background-image: url(../img/banner3.png);
    }

    header nav ul li:hover .children{
        display: none;
    }

    .BotonHome{
      width: 85% !important;
    }
}



#slide-icon {
    margin-left: 10px;
    margin-right: -10px;
}

#banner {
    width: 100%;
}

#banner-title {
    margin: 0;
    color: white;
    font-family: Bebas-Bold;
    font-size: 3.5em;
    text-align: center;

}

/*Efecto Paralax Inicio*/

/*Boxes*/

#Box1{
  display: table;
  width: 100%;
  height: calc(100vh - 125px);
  background-image: url("../img/iglesia.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#Box2{
  display: table;
  width: 100%;
  height: 100vh;
  background-image: url("../img/Img2.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#Box3{
  display: table;
  width: 100%;
  height: 100vh;
  background-image: url("../img/Img3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#Box4{
  display: table;
  width: 100%;
  height: 100vh;
  background-image: url("../img/Img4.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.Box_Container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
    background:rgba(0,0,0,0.5);
}

/*Estilo de botones*/

.BotonHome{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  width: 50%;
  border-radius: 3px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  color: White;
  background: rgba(255, 255, 255, 0.2);
  font-size: 2em;
  font-family: Bebas-Regular;
  padding: 30px;
  /*-webkit-transition: 1s ease-in-out 1s;
  -moz-transition: 1s ease-in-out 1s;*/
  transition: transform 0.5s ease-in-out 0s;

}

.BotonHome:hover{
  color: white;
  background: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  z-index: 1;
  transform:scale(1.1);

}
.BotonHome:hover .Bold-Beba{
    font-family: Bebas-Bold;
    z-index: 0;
}

.Bold-Beba{
  font-family: Bebas-Regular;
}

/*Hovers de colores*/
.BotonHome:hover .HBlue{
    color:#0f272c;
}
.BotonHome:hover .HYellow{
    color: #3f5007;
}
.BotonHome:hover .HBlack{
    color:rgb(16, 26, 1);
}
.BotonHome:hover .HGreen{
    color:#751710;
}

#Topscroller{
    padding: 20px 25px;
    color: #ffffff !important;
    font-family: Bebas-Bold;
    font-size: 1em;
    position: relative;
    z-index: 100;
    top: 85%;
    left: 1%;
    position: fixed;
    background: rgba(255,255,255,0.3);
    border-radius: 7px;
    transition: all 500ms ease;
}

#Topscroller a{
    color: #ffffff !important;
    font-family: Bebas-Bold;
    font-size: 1em;
}

#Topscroller:hover{
    transform: scale(1.1);
    background: rgba(255,255,255,0.6);
    border: 1px #f9f9ed solid !important;
    color: #f9f9ed ;
}

#Topscroller a:hover{
    color: #f9f9ed !important;
    font-family: Bebas-Bold;
    font-size: 1em;
}

#Topscroller-dark{
    padding: 20px 25px;
    color: #000000 !important;
    font-family: Bebas-Bold;
    font-size: 1em;
    position: relative;
    z-index: 100;
    top: 85%;
    left: 1%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    border-radius: 7px;
}

#Topscroller-dark a{
    color: #ffffff !important;
    font-family: Bebas-Bold;
    font-size: 1em;
}
#Topscroller-dark a:hover{
    color: #ffffff !important;
    font-family: Bebas-Bold;
    font-size: 1em;
}

.play-buttom {
    margin-left: 25px;
    padding: 7px;
    background: #1F4F59;
    color: #FFFFFF;
    border: none;
    transition: all 500ms ease-in-out;
}
.play-buttom:hover {
     background: rgba(0,0,0,0);
     color: #3a7999;
     box-shadow: 0 0 0 1px #3a7999;
}

.miniaruta {
    width: 100%;
    border-radius: 7px;
    transition: all 300ms ease-in-out;
}
.miniaruta:hover {
    box-shadow: 0 0 0 2px rgba(0,0,0,0.8);
}

#button-modal {
    background: #1f4f59 !important;
    border-radius: 3px !important;
    border: 1px solid #1f4f59 !important;
    transition: all 500ms ease;
}
#button-modal:hover {
    background: rgba(0,0,0,0) !important;
    color: #3a7999 !important;
    box-shadow: 0 0 0 1px #3a7999 !important;
    border: 0px;

}



.galeryThumnails {
    margin: 0 ;
    padding: 0 ;
}


#galleryContainer {
    padding: 10px;
}
